.hero{
    background-color: rgb(245, 245, 245);
    position: absolute;
    /* margin: 0 80px; */
}
/* nav section starts */
.nav-title{
    font-weight: bold;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

ul li a{
    font-weight: bold;
    /* list-style: none; */
    text-decoration: none;
    font-size: 20px;
    color: green;
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 5px;
}

/* nav section ends here */

/* banner section start */ 

.banner{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    gap: 64;
    margin-top: 200px;
    padding: 80px 100px 80px 100px;
    
    
}

.nav{
    /* max-width: 1040px; */
    margin:0 auto ;
}

.bg{
    border-radius: 24px;
    margin: 35px 95px 35px 95px;
    background: rgb(198, 228, 214);
}

.banner-description{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.btn{
    border-radius: 8px;

    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px;
}
.banner-profile{

}

.banner-contents{
    
}
/* banner section end */

/* card section */



.card-container{
    display: flex;
    gap: 25px;
}

.card-btn-one{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 10px 15px;
}
.card-btn-two{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    padding: 10px 15px;
}
.card-btn-three{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    padding: 10px 15px;
}

.one{
    background-color: rgba(84, 144, 245, 0.2)
}

.two{
    background-color: rgb(198, 228, 214);
}
.three{
    background-color: rgb(247, 235, 207);
}

.card{
    padding: 33px;
    /* box-shadow: 0px 6px 50px 0px rgba(42, 48, 45, 0.06); */
    border-radius: 5px;
    /* background-color:rgb(225, 141, 141); */
}


.box{
    margin: 105px;
    
}

/* challenge  */
.challenge-container{
    border: 1px solid rgb(179, 188, 187);
    border-radius: 5px;
    margin: 80px 105px;
    padding: 50px;
    background-color:white;
}

.challenge-description{
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    /* Vector */
/* position: absolute; */
/* width: 5.43px; */
height: 46.86px;
left: 0;
top: 9.57px;
}

/* news section  */
.news-font{
    font-weight: bold;
    color: rgba(14, 14, 14, 0.7);
}
.news-container{
    margin: 45px 105px 45px 105px;

}

.news-title{
    font-weight: bold;
    font-size: 35px;
    
}
.news-image-container{
    display: flex;
    gap: 32px;
    padding: 32px 52px;
    /* background-color: aliceblue; */
    /* border: 1px solid; */
    border-radius: 24px;

background: rgb(255, 255, 255);
    
}

.news-image-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;

}
/* donation section */
.donation-container{
    text-align: center;
    margin: 0 55px 0 55px;
}
.box-container{
    /* margin-left: 400px;
    margin-right: 400px; */
    /* margin: 15px 5px 5px 785px; */
    /* gap: 45px; */
    /* display: flex; */
    /* border: 1px solid black;
    padding-left:205px ; */

}
.box-container{
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}
.box-container-color{
    background-color: rgb(198, 228, 214);
}
.book{
    display: flex;
    margin: 15px 55px 85px 705px;
    /* border: 1px solid; */
    gap: 40px;
}

.contri{
    margin-left: 800px;
}
