
/* nav section starts */
.nav-title{
    font-weight: bold;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

ul li a{
    font-weight: bold;
    /* list-style: none; */
    text-decoration: none;
    font-size: 20px;
    color: green;
    border: 1px solid green;
    padding: 10px 20px;
    border-radius: 5px;
}

/* nav section ends here */

/* banner section start */ 

.banner{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    gap: 64;
    margin-top: 200px;
    padding: 80px 100px 80px 100px;
    
}

.nav{
    /* max-width: 1040px; */
    margin:0 auto ;
}

.bg{
    border-radius: 24px;
    margin: 35px 95px 35px 95px;
    background: rgb(198, 228, 214);
}

.banner-description{
    /* width: ; */
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}
.btn{
    border-radius: 8px;

    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px;
}
.banner-profile{

}

.banner-contents{
    
}
/* banner section end */